// Scroll to top

@import "../shared/animations"
@import "../shared/colors"
@import "../shared/effects"
@import "../shared/mq"

\:root
    --scrolltotop-border-color: #{darken($chassis-purple, 5%)}
    --scrolltotop-background-color: #{$chassis-purple}

+color-scheme(dark)
    \:root
        --scrolltotop-border-color: #{darken($chassis-purple, 15%)}
        --scrolltotop-background-color: #{darken($chassis-purple, 10%)}

.scroll-to-top
    position: fixed
    bottom: 1rem
    right: -76px
    display: flex
    justify-content: center
    align-items: center
    width: 60px
    height: 60px
    padding: 0
    border: 1px solid var(--scrolltotop-border-color)
    border-radius: 100%
    background-color: var(--scrolltotop-background-color)
    font-size: 2rem
    line-height: 1
    color: $white
    transition: right $transition-timing, background-color $transition-timing
    box-shadow: $drop-shadow
    &:hover, &:focus
        background-color: var(--scrolltotop-border-color)

.scroll-to-top:focus,
.scroll-to-top--visible
    right: 1rem